{:paths ["src" "resources"]
 :deps {aleph/aleph {:mvn/version "0.4.6"}
        clojure-csv/clojure-csv {:mvn/version "2.0.1"}
        info.debatty/java-string-similarity {:mvn/version "RELEASE"}
        metosin/jsonista {:mvn/version "0.3.1"}
        metosin/malli {:mvn/version "0.3.0"}
        metosin/reitit {:mvn/version "0.5.12"}
        org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}
                               org.clojure/test.check {:mvn/version "RELEASE"}
                               com.gfredericks/test.chuck {:mvn/version "RELEASE"}}}
           :kaocha {:extra-deps {lambdaisland/kaocha {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "kaocha.runner"]}}}
